body{
    font-family: "Afacad Flux", serif;
    background-color: rgba(230, 212, 202, 0.2);
    margin: 0;
    padding: 0;
}
body, html {
    max-width: 100%;
    overflow-x: hidden;
}
.card{
    background-color: rgb(233, 231, 233);
}

nav{
    background-color: rgb(241, 151, 100,1);
    border-radius: 5px;
    /* padding-bottom: 50px; */
   
    
}
/* ul{
    mar
    width: 50%;
    display: flex;
} */
 form{
    width: 450px;
    margin-left:10px;
    height: 100%;
 }
 .nav-link{
    color: rgba(15, 14, 14, 0.8) !important;
    /* background-color: aqua; */
    z-index: 1;
 }

 .nav-link:hover {
    opacity: 0.7;
    background-color: rgba(241, 247, 240, 0.9);
    border-radius: 5px;
    
}
img{
    width: 90%;
    height: 27rem;
}
.button{
    /* margin-top: 12rem; */
    /* width: 100%; */
    height: 100%;
    /* background-color: aqua; */
    margin-top: 6rem;
}
.card button:hover{
    opacity: 0.6;
}
 .nav-link{
    color: black;
}
.navbar-brand img{
    height: 4rem;
    /* width: ; */
    /* background-color: aquamarine; */
    border-radius: 10px;
    
}

.line{
    background-color: black;
    height: 1px;
    align-self: center;
    border: 1px solid black;
    opacity: 0.1;
    margin-top: 2rem;
}
.footer{
    /* position: absolute; */
    height: 100%;
    width: 100%;
    width: 100vw; /* 100% of the viewport width */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw
}
